<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Director Console</title>
  <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
</head>
</head>
<body>

  <div id="banner">
  <div id="bar">
    <ul id="bar_menu">
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </div>
</div>

 <div id="header">
   <div id="logo">
     <h1><a href="/">director console</a></h1>
     <p>watching over hive workers</p>
   </div>
 </div>

 <div id="content">
   {% block content %}{% endblock %}
 </div>

 <div id="footer">
 </div>
</body>
</html>
