body {
	margin: 0px;
	padding: 20px;
	margin-left: 50px;
	background: #0A0A0D;
	text-align: justify;
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFFFDC;
}

h1, h2, h3 {
	font: 1.82em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: left;
}





p, ol, ul {
	line-height: 1.67em;
}

ul {
	padding-left: 1.2em;
}

a {
	color: #828170;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}

/* Logo */

#logo h1 {
	margin: 0;
	height: 160px;
	padding: 40px 0 0 0px;
	text-transform: lowercase;
	letter-spacing: -2px;
	font-size: 4em;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}

#logo p {
	margin: -103px 0 0 2px;
	/*text-transform: uppercase;*/
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#logo a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}

#logo2 h1 {
	margin: 0;
	height: 130px;
	padding: 40px 0 0 0px;
	text-transform: lowercase;
	letter-spacing: -2px;
	font-size: 2em;
	font-weight: normal;
	color: #FFFFFF;
}

#logo2 h1 a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}

#logo2 p {
	margin: -103px 0 0 2px;
	text-transform: uppercase;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#logo2 a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}

/* Content */

#content {
	margin: 0px auto;
	padding: 20px 0 0 0;
	float: left;
	width: 50em;
	margin-bottom: 10px;
}

/* Post */

.post {
	margin-top: 20px;
}

.post .date {
	float: left;
	width: 29px;
	height: 32px;
	margin: 0;
	margin-top: 3px;
	margin-right: 20px;
	padding-top: 2px;
	text-transform: uppercase;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #999999;
}

.post .date b {
	margin: 0;
	padding: 0;
	display: block;
	margin-top: -5px;
	font-size: 14px;
	color: #5C5C5C;
	
}

.post .title {
	margin: 0;
	padding: 0px 0 0 0;
	margin-left: 10px;
	padding-left: 10px;
	font-size: 1.4em;
}

.post .title a {
	color: white;
	text-decoration: none;
}

.post .meta {
	margin: 0 0 10px 20px;
	padding: 0;
	line-height:normal;
	text-transform: uppercase;
	color: #979680;
}

.post .meta a {
	color: #828170;
}

.post .entry {
	margin: 0;
	padding: 0 0 20px 50px;
}

#older_posts {
	font-size: 120%;
}

/* Banner */

#banner
{
  position:fixed;
  height:2em;
  top:0.5em;
  left:2.5em;
  right:0.5em;
  background:#3F3F3F;
  border:0.5em solid #0A0A0D;
  z-index:100;
}
#banner a
{
  color:#BFBFB3;
  margin: auto 0.5em;
}

#new_post {
	position: absolute;
	top:2.25em;
	right: 0em;
}
#bar {
  position: absolute;
  top:0.25em;
  left:1em;
}
#follow_me
{
  position: absolute;
  top:0.25em;
  right:0em;
  color:#5F5F5F;
}
#follow_me img
{
  padding:0;
  border:none;  
  height:1.5em;
  width:1.5em;
}
#bar_menu
{
  margin:0;
  padding:0;
  list-style-type: none;
  float:left;
}
#bar_menu li
{
  margin:0;
  padding:0;
  float:left;
  margin:0 1px 0 0;
  display:inline;
}
#bar_menu a, #bar_menu p
{
  float:left;
  padding: 0 5px;
  font-weight:bolder;
  text-decoration:none;
  color:#AFAFA4;
}
#bar_menu a:hover
{
  text-decoration:underline;
}
#bar_menu a:active
{
  font-weight:bold;
  color:#0A0A0D;
}
#bar_menu img
{
  border:none;
}


/* Post */

.postzoom {
	margin-top: 20px;
	position: relative;
}

.postzoom .title {
	margin: 0;
	padding: 0px 0 0 0;
	font-size: 3em;
}

.postzoom .meta {
	margin: 0;
	padding: 0;
	line-height: normal;
	text-transform: uppercase;
	color: #979680;
}

.postzoom .entry {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 20px;
}

.postzoom .edit {
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
}

.entry img.face
{
  margin:1em 0 1em 1em;
  float:right;
}

/* Footer */

#footer {
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#legal {
	clear: both;
	margin: 0;
	padding: 10px 0;
	font-size: 10px;
	color: #525252;
}

/* Archive */
.archive .date {
	font-size: 85%;
	color: #828170;
}

.archive .title a {
	font-size: 120%;
	text-decoration: none;
	color: #FFFFDC;
}

/* Code blocks */

pre {
	font-family: Monaco, monospace;
	color: #ccc;
	background: #000;
	border-left: 6px solid #222;
	padding: 0.4em;
	padding-left: 0.8em;
}

pre span.attribute { color: #009900; }
pre span.char { color: #F00; }
pre span.typ { color: #FFCB00; font-weight: bold; }
pre span.com { color: #947F3D; }
pre span.lit { color: #329998; }
pre span.pln { color: #FFFFFF; }
pre span.expr { color: #2222CC; }
pre span.atv { color: #11AA44; }
pre span.ident { color: #CCCCCC; }
pre span.kwd { color: #EE5400; font-weight: bold; }
pre span.method { color: #008B8B; }
pre span.tag { color: #FC6210; font-weight: bold; }
pre span.dec { color: #DD00DD; }
pre span.pun { color: #6A5ACD; }
pre span.atn { color: #DD00DD; }
pre span.str { color: #64FD00; }
pre span.pun { color: #CCCCCC; }

/* Edit post */

form[name=edit] input[name=title] {
	font-size: 100%;
	width: 300pt;
}
form[name=edit] input[name=tags] {
	font-size: 100%;
	width: 300pt;
}
form[name=edit] textarea {
	font-size: 100%;
	width: 50em;
	height: 25em;
}

